.animal-show {
  position: relative;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0px 3px 4px rgb(164, 164, 164);
}

.animal {
  height: 200px;
}

.heart {
  position: absolute;
  bottom: 10%;
  right: 10%;
}